
:root {
  --backgroundColor: #101326;
  --darkBackgroundcolor: #0a0d21;
  --darkBackgroundcolorLowOpacity: rgba(10,13,33,0.4);
  --lightBackgroundColor: #3B3E4D;
  --textColor: #FFFFFF;
  --lightAccentColor: #ffcb4b;
  --darkAccentColor: #6e63f2;
  --errorColor: #f36767;
  --borderColor: #656777;
  --serifFont: 'Roboto Serif', serif;
  --monoFont: 'Roboto Mono', monospace;
  --sansFont: 'Roboto Flex', sans-serif;
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-size: 19px;
  font-family: var(--sansFont);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered{
  text-align: center;
  margin: 0 auto;
}

.strikethrough{
  color: var(--errorColor);
  text-decoration: line-through;
}

/* Loading component */
.loading {}


/* ---------- Links (everywhere) ---------- */
a {
  color: var(--lightAccentColor);
}

/* mouse over link */
a:hover {
  color: var(--lightBackgroundColor);
}

/* unvisited link a:link {}, visited link  a:visited {}, selected link  a:active {} */


/* ---------- Links (everywhere) ---------- */
h1{
  font-family: var(--serifFont);
}
h2{
  font-family: var(--monoFont);
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: var(--darkAccentColor);
}
/* h2, h3 etc to h6*/


/* ---------- Standard buttons ---------- */
button.button {
  font-size: 14px;
  color: var(--textColor);
  background: var(--lightBackgroundColor);
  border:1px solid var(--borderColor);
  padding:10px 14px;
  border-radius: 5px;
  font-family: var(--monoFont);
  font-style: italic;
  font-weight: 600;
}

/* mouse over button */
button.button:hover {}

/* mouse over all buttons */
button:hover {
  cursor:pointer;
}


/* container for topbar, hamburgermenu and content */
.container {}


/* ---------- Hamburger menu ---------- */
#hamburgerMenu{
  margin:0; top:0; left:0;
  padding:40px;
  width:270px;
  position: fixed;
  display: none;
  height: 100%;
  background: var(--darkBackgroundcolor);
  box-sizing: border-box;
  font-size: 25px;
  z-index: 1;
}

/* Button to close hamburger menu (in hamburger menu) */
#closeHamburgerMenuButton {
  float:right;
}

#openHamburgerMenuButton, #closeHamburgerMenuButton {
  float:right;
  font-size: 25px;
  border:none;
  background: none;
  color: var(--textColor);
}

/* Container for all links in hamburger menu */
#hamburgerMenu ul {
  list-style-type: none;
  padding:0;
  font-family: var(--serifFont);
}

/* class to show hamburger menu */
#hamburgerMenu.show{
  display: block!important;
}

#hamburgerMenu a {
  text-decoration: none;
}

#hamburgerMenu a:link, #hamburgerMenu  a:visited, #hamburgerMenu  a:active {
  color: var(--textColor)
}

#hamburgerMenu a:hover {
  color: var(--lightBackgroundColor);
}


/* ---------- Top bar ---------- */
#topBar {
  position: fixed;
  top:0;
  width:100%; height:100px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-content: center;
  background: var(--backgroundColor)
}

/* Recherché title at top */
#topBar h1 {}

#topBar.hide #openHamburgerMenuButton, #topBar.hide h1 {
  opacity:0;
}

/* Button to open hamburger menu (in topBar) */
#openHamburgerMenuButton{
  align-self: center;
  margin: 0 30px;
}

.buttonContainer{
  align-self: center;
  margin: 0 30px;
}
.buttonContainer span {
  font-family: var(--monoFont);
  font-size: 15px;
  font-style: italic;
  color:var(--borderColor)
}

/* ---------- Content, container for all page content ---------- */
#content {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 600px;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}

#start {
  place-self: center;
  display: grid;
  place-content: center;
  padding-bottom: 100px;
  text-align: center;
}

#start button {
  justify-self: center;
}

#start h1 {
  margin-bottom: 0;
  font-size: 40px;
}

.rulesFromStart {
  margin-top:10px;
}
.rulesFromStart a:link, .rulesFromStart a:active, .rulesFromStart a:visited {
  color: var(--borderColor);
}

p.instruction {
  color: var(--lightAccentColor);
  font-style: italic;
  font-size: 24px;
  margin:30px 0;
  padding: 0 75px;
}

#about, #rules, #highScores, #pageNotFound {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#game, #gameScore {
  padding-top:20vh;
  padding-bottom: 20vh;
  text-align: center;
}

/* individual pages: #start, #game, #about, #rules, #highScores, #gameScore, #pageNotFound */

/* individual game parts: #wordInput #scoreBoard*/

/* Big given word shown in wordInput and scoreBoard */
h1.givenWord {
  font-size: 60px;
}

/* wordlist in wordinputview */
ul.wordList {
  list-style-type: none;
  padding:0;
  font-family: var(--serifFont);
  font-style: italic;
}

/* list of definitions */
ol.definitions {
  text-align: left;
}

#scoreBoard .button {
  margin-bottom: 50px;
}

/* Input box where user enters synonyms */
.inputContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-left:70px;
  padding-right:70px;
}
input.wordInput {
  color: var(--textColor);
  font-family: var(--monoFont);
  font-size: 14px;
  padding:10px 14px;
  border-radius: 5px;
  border:1px solid var(--borderColor);
  background: var(--backgroundColor);
}
input.wordInput::placeholder {
  color: rgba(255,255,255,0.3)
}

/* round information in word input */
.roundContainer {
  display: grid;
  justify-content: center;
  margin:10px 0;
}
.roundDescription, .timeDescription, .rulesFromStart {
  font-family: var(--monoFont);
  color: var(--borderColor);
  font-style: italic;
  font-size: 14px;
}
#roundProgressBar {
  width:80px;
  height: 10px;
  border:1px solid var(--textColor);
  margin: 3px auto;
  border-radius: 3px;
}
.time {
  font-family: var(--monoFont);
  color:var(--darkAccentColor);
}

/* scores in scoreboard */
span.number {
  font-family: var(--monoFont);
  color: var(--darkAccentColor)
}

/* table in scoreboard */
table.userSynonyms {
  margin: 0 auto;
}
table.userSynonyms td {
  padding:3px 9px;
}

/* accordion for definition and example synonyms */
.accordion {
  background:var(--darkBackgroundcolor);
  padding: 18px;
  width:100%;
  border:none; outline:none;
  transition:0.4s;
  text-align: left;
  font-size: 20px;
  font-family: var(--sansFont);
  color: var(--textColor);
}
.active, .accordion:hover {
  background: var(--darkBackgroundcolorLowOpacity);
}
.accordionPanel {
  padding: 0 18px;
  display: none;
  overflow:hidden;
  background: var(--darkBackgroundcolorLowOpacity);
  margin-top:-2px;
}
.accordionPanel.view {
  display: block;
}
.accordion:after {
  content: '+';
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "-";
}

#about > p, #rules > p {
  font-size:25px;
}

/* example game in rules */
.gameExample{
  background: var(--darkBackgroundcolorLowOpacity);
  padding:30px 40px;
  border-radius: 5px;
  text-align: center;
}

.gameExample button:hover {
  cursor:auto;
}

/* button that is a direct child of rules */
.rulesButtonContainer {
  display: grid;
}
.rulesButtonContainer button {
  justify-self: center;
}

/* person cards in about */
#cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}
#cardContainer .card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image name"
                      "image email";
  grid-column-gap:10px;
  align-content: center;
  background:var(--darkBackgroundcolor);
  border-radius: 10px;
  padding: 10px;
}
#cardContainer .cardImageContainer {
  grid-area:image;
}
#cardContainer img {
  width:50px; height: 50px;
}
#cardContainer .name {
  grid-area:name;
  font-size: 20px;
}
#cardContainer .email {
  grid-area: email;
  font-family: var(--monoFont);
  font-size: 14px;
}

#cardContainer .email a {
  text-decoration:none;
}

/* high score page */
#highScores {
  display: grid;
  align-content:start;
}
#highScores table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
#highScores tr {
  border-radius: 10px;
}
#highScores td:first-child{
  border-radius: 10px 0 0 10px;
}
#highScores td:last-child{
  border-radius: 0 10px 10px 0;
}
#highScores td {
  padding: 15px 20px;
  background: var(--darkBackgroundcolor);
}
.highScorePosition{
  font-family: var(--monoFont);
  color: var(--lightAccentColor)
}
.highScoreScore{
  font-family: var(--monoFont);
  color: var(--darkAccentColor);
}

@media only screen and (max-width: 600px) {
  #topBar {
    height:75px;
  }
  #topBar h1 {
    font-size: 25px;
  }
  #openHamburgerMenuButton, .buttonContainer {
    margin: 0 10px;
  }

  #content {
    grid-template-columns: 100vw;
  }
  #content > * {
    padding-left: 20px; padding-right: 20px;
    box-sizing: border-box;
  }

  h1.givenWord{
    font-size:45px;
  }

  p.instruction {
    font-size: 20px;
  }

  .inputContainer {
    padding:0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
  }

  input.wordInput {
    font-size: 11px;
  }

  .inputContainer button {
    justify-self: center;
  }

  #hamburgerMenu {
    width:100vw;
  }

}