body {
  background: teal;
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered{
  text-align: center;
  margin: 0 auto;
}

.strikethrough{
  color: darkred;
  text-decoration: line-through;
}

/* Loading component */
.loading {}


/* ---------- Links (everywhere) ---------- */

/* unvisited link */
a:link {}

/* mouse over link */
a:hover {}

/* visited link  a:visited {}, selected link  a:active {} */


/* ---------- Links (everywhere) ---------- */
h1{}
/* h2, h3 etc to h6*/


/* ---------- Standard buttons ---------- */
button.button {}

/* mouse over button */
button.button:hover {}


/* container for topbar, hamburgermenu and content */
.container {}

/* ---------- Hamburger menu ---------- */
#hamburgerMenu{
  margin:0; top:0; left:0;
  padding:0 20px;
  position: fixed;
  display: none;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

/* Button to close hamburger menu (in hamburger menu) */
#openHamburgerMenuButton {}

/* Container for all links in hamburger menu */
#hamburgerMenu ul {}

/* Container for individual link in hamburger menu */
#hamburgerMenu li {}


/* ---------- Top bar ---------- */
#topBar {}

/* Recherché title at top */
#topBar h1 {}

/* Button to open hamburger menu (in topBar) */
#openHamburgerMenuButton{}


/* ---------- Content, container for all page content ---------- */
#content {}

/* individual pages: #start, #game, #about, #rules, #highScores, #gameScore, #pageNotFound */

/* individual game parts: #wordInput #scoreBoard*/

/* Big given word shown in wordInput and scoreBoard */
h1.givenWord {}

/* Input box where user enters synonyms */
input.wordInput {}

.show{
  display: block!important;
}

.hide{
  display: none!important;
}