body {
  background: teal;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered{
  text-align: center;
  margin: 0 auto;
}

.strikethrough{
  color: darkred;
  text-decoration: line-through;
}

/* Loading component */
.loading {}


/* ---------- Links (everywhere) ---------- */

/* unvisited link */
a:link {}

/* mouse over link */
a:hover {}

/* visited link  a:visited {}, selected link  a:active {} */


/* ---------- Links (everywhere) ---------- */
h1{}
/* h2, h3 etc to h6*/


/* ---------- Standard buttons ---------- */
button.button {}

/* mouse over button */
button.button:hover {}

/* mouse over all buttons */
button:hover {
  cursor:pointer;
}


/* container for topbar, hamburgermenu and content */
.container {}


/* ---------- Hamburger menu ---------- */
#hamburgerMenu{
  margin:0; top:0; left:0;
  padding:20px;
  width:250px;
  position: fixed;
  display: none;
  height: 100%;
  background: rgba(0,0,0,0.2);
  box-sizing: border-box;
}

/* Button to close hamburger menu (in hamburger menu) */
#closeHamburgerMenuButton {
  float:right;
}

#openHamburgerMenuButton, #closeHamburgerMenuButton {
  float:right;
  font-size: 25px;
  border:none;
  background: none;
}

/* Container for all links in hamburger menu */
#hamburgerMenu ul {}

/* Container for individual link in hamburger menu */
#hamburgerMenu li {}


/* ---------- Top bar ---------- */
#topBar {
  position: fixed;
  top:0;
  width:100%; height:100px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
  background: teal;
}

/* Recherché title at top */
#topBar h1 {}

/* Button to open hamburger menu (in topBar) */
#openHamburgerMenuButton{
  align-self: center;
  margin: 0 20px;
}


/* ---------- Content, container for all page content ---------- */
#content {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 600px;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}

#start {
  place-self: center;
  display: grid;
  place-content: center;
  padding-bottom: 100px;
}

#about, #rules, #highScores, #pageNotFound {
  padding:10vh 0;
}

#game, #gameScore {
  padding:20vh 0;
  text-align: center;
}

/* individual pages: #start, #game, #about, #rules, #highScores, #gameScore, #pageNotFound */

/* individual game parts: #wordInput #scoreBoard*/

/* Big given word shown in wordInput and scoreBoard */
h1.givenWord {}

/* Input box where user enters synonyms */
input.wordInput {}

.show{
  display: block!important;
}

.hide{
  display: none!important;
}